{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login - Student Management System</title>

    <link rel="stylesheet"
          href="{% static 'students/style.css' %}">

</head>

<script>

    function togglePassword(id) {
    
        const passwordInput = document.getElementById(id);
    
        if (passwordInput.type === "password") {
    
            passwordInput.type = "text";
    
        } else {
    
            passwordInput.type = "password";
    
        }
    
    }
    
    </script>

<body class="login-page">

    <div class="login-box">

        <h1>Student Management System</h1>

        <h2>Login</h2>

        {% if messages %}

            {% for message in messages %}

                <div class="login-message {{ message.tags }}">
                    {{ message }}
                </div>

            {% endfor %}

        {% endif %}


        <form method="POST">

            {% csrf_token %}


            <!-- Username -->

            <div class="login-form-group">

                <label for="username">
                    Username
                </label>

                <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Enter username"
                    required
                >

            </div>


            <!-- Password -->

            <div class="login-form-group">

                <label for="password">
                    Password
                </label>
            
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    required
                >
            
                <button
                    type="button"
                    onclick="togglePassword('password')">
                    Show Password
                </button>
            
            </div>

            <!-- Login Button -->

            <button type="submit">
                Login
            </button>


            <p>
                Don't have an account?
                <a href="{% url 'register' %}">
                    Register
                </a>
            </p>

        </form>

    </div>

</body>

</html>