{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
    <link rel="stylesheet" href="{% static 'students/style.css' %}">
    
</head>

<body>

    <!-- Navigation Bar --> 
    <nav>
        <a href="{% url 'home' %}">Home</a>

        {% if user.is_authenticated %}

            <a href="{% url 'dashboard' %}">Dashboard</a>

            <a href="{% url 'student_list' %}">
                Student List
            </a>

            <a href="{% url 'add_student' %}">
                Add Student
            </a>

            <a href="{% url 'logout' %}">
                Logout
            </a>

        {% else %}

            <a href="{% url 'login' %}">
                Login
            </a>

        {% endif %}
    </nav> 
    
    <div class="detail-container"> 
        <h1>Student Details</h1> 
        <div class="student-details"> 
            <p> 
                <strong>Name:</strong> {{ student.name }} 
            </p> 
                
            <p> 
                <strong>Email:</strong> {{ student.email }} 
            </p> 
            
            <p> 
                <strong>Phone:</strong> {{ student.phone }} 
            </p> 
            
            <p> 
                <strong>Date of Birth:</strong> {{ student.date_of_birth }} 
            </p> 
            
            <p> 
                <strong>Gender:</strong> {{ student.gender }} 
            </p> 
                
            <p> 
                <strong>Address:</strong> {{ student.address }} 
            </p> 
            
            <p> 
                <strong>Course:</strong> {{ student.course }} 
            </p> 
            
            <p> 
                <strong>Department:</strong> {{ student.department }} 
            </p> 
        </div> 
        
        <div class="detail-buttons"> 
            <a href="{% url 'edit_student' student.id %}" class="edit1-button"> Edit </a> 
            <a href="{% url 'student_list' %}" class="back-button"> Back </a> 
        </div> 
    </div>

</body>
</html>